.chat {
  width: calc(100% - 440px);
  height: 100%;
  background-color: #2a2c44;
  position: relative;

  .top {
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .profile_image {
      height: 64px;
      width: 64px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 28px;
    }
  }
  .content {
    height: 80.5%;
    overflow: scroll;

    .scroll {
    }
  }
  .bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 0 50px;

    .textarea_wrapper {
      height: 100%;
      display: flex;
      justify-content: center;
      width: 80%;
    }
    textarea {
      text-align: left;
      background-color: transparent;
      border: none;
      color: white;
      resize: none;
      white-space: nowrap;
      overflow-x: scroll;
      font-size: 18px;
      font-weight: 200;
      width: 100%;
      padding-top: 30px;
      &:focus {
        outline: none !important;
        border: none !important;
      }
      &::placeholder {
        font-weight: 100;
        opacity: 0.6;
      }
    }
  }
}

.left_icons {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 5%;
  svg {
    height: 22px;
    width: 22px;
    fill: white;
    opacity: 0.5;
    padding: 8px;
    transition: 0.2s;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.send_container {
  width: 100px;

  .send_button {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    background-color: #f94d89;

    box-shadow: 0px 0px 2px 0px rgba(140, 136, 136, 0.75);
    transition: 0.2s;
    svg {
      height: 28px;
      width: 28px;
      fill: white;
      opacity: 0.7;
      transition: 0.2s;
    }
    &:hover {
      box-shadow: 0px 0px 5px 0px rgba(140, 136, 136, 0.75);
      cursor: pointer;
      svg {
        opacity: 1;
      }
    }
    &:active {
      box-shadow: 0px 0px 10px 0px rgba(94, 93, 93, 0.75);
      svg {
        opacity: 0.8;
      }
    }
  }
}
